<mat-tab-group animationDuration="0ms">
  <mat-tab label="All">
    <table-component [sector]="'all'" id="table-all"></table-component>
  </mat-tab>
  <mat-tab label="Development">
    <table-component [sector]="'development'" id="table-development"></table-component>
  </mat-tab>
  <mat-tab label="Marketing">
    <table-component [sector]="'marketing'" id="table-marketing"></table-component>
  </mat-tab>
  <mat-tab label="Sales">
    <table-component [sector]="'sales'" id="table-sales"></table-component>
  </mat-tab>
</mat-tab-group>
